# Resposta às perguntas do arquivo "perguntas_sql.md"

Este *notebook* tem como objetivo responder às questões 1 a 10 utilizando Python, com ênfase no uso da biblioteca `pandas`. Considerando que a base principal contém mais de 10 milhões de registros, algumas consultas serão realizadas com o método `read_sql()` do pacote `basedosdados`, a fim de obter dados minimamente tratados diretamente do BigQuery.

Embora o método `read_sql()` permita responder diretamente às questões utilizando comandos SQL, o foco deste teste técnico é demonstrar proficiência com o `pandas`. Portanto, as consultas SQL foram propositalmente simplificadas para que o tratamento dos dados relevantes às perguntas seja realizado majoritariamente em Python.

O notebook está dividido em duas seções:
- **Respostas às perguntas 1 a 5**
- **Respostas às perguntas 6 a 10**

No início de cada seção, há *chunks* de código que devem ser executados previamente. Esses blocos geralmente incluem consultas que retornam bases de dados "brutas" necessárias para as questões da seção ou procedimentos que evitam redundâncias — como tratamentos recorrentes utilizados por mais de uma pergunta.

**Portanto, para rodar qualquer uma das perguntas de uma seção, é obrigatório executar:**
1. O primeiro bloco geral do notebook (logo abaixo deste texto), que carrega bibliotecas e funções auxiliares.
2. Os blocos de código logo após o título da seção correspondente (iniciados com `##`), que trazem as bases ou preparações comuns às perguntas daquela seção.

Cada subseção de pergunta (marcadas com `###`) contém *chunks* independentes entre si. Ou seja, **você não precisa rodar o código da pergunta 6 para executar a pergunta 7** — desde que os blocos gerais e os da seção já tenham sido executados previamente.

Por fim, para executar o presente ipynb, é necessário alterar o objeto `bill_id` que corresponde ao id do seu projeto no *Google Cloud Platform*. Para um tutorial completo da criação de um projeto com sua conta gmail, acesse [aqui](https://docs.dados.rio/tutoriais/como-acessar-dados/).

In [3]:
# Libs utilizadas
import pandas as pd
import basedosdados as bd

# billing id para o basedosdados
bill_id = "teste-tecnico-pcrj"

# Funções que serão utilizadas ao longo do notebook

def operacao_agrupada_chamados(df: pd.DataFrame,
                               colunas: list,
                               operacao: str = 'sum'):
    """
    Função para somar chamados agrupando por colunas especificadas. Utilizada no conjunto de respostas 1-5.
    
    Args:
        df (pd.DataFrame): DataFrame com os dados.
        colunas (list): Lista com as colunas que serão utilizadas para agrupar os dados.
    
    Returns:
        pd.DataFrame: DataFrame com a soma dos chamados pelos grupos. A última coluna sempre será o total de chamados.
    """
    df_agrupado = (
        df.groupby(colunas)
        .agg({'total_chamados': f'{operacao}'})
        .reset_index()
        .sort_values('total_chamados', ascending=False))
    
    return df_agrupado

## Respostas às perguntas 1-5

In [4]:
# preparando objetos para as questões 1-5

sql_1 = """
SELECT 
  COUNT(id_chamado) AS total_chamados,
  DATE(data_inicio) AS data_abertura,
  tipo,
  subtipo,
  id_bairro
FROM `datario.adm_central_atendimento_1746.chamado` 
WHERE DATE(data_inicio)= '2023-04-01'
GROUP BY DATE(data_inicio), tipo, subtipo, id_bairro
"""

sql_2 = """
SELECT 
  id_bairro,
  nome AS nome_bairro,
  subprefeitura
FROM `datario.dados_mestres.bairro`
"""

df_base_1 = bd.read_sql(sql_1, billing_project_id=bill_id)
df_bairros = bd.read_sql(sql_2, billing_project_id=bill_id)

Downloading: 100%|██████████|
Downloading: 100%|██████████|

### 1. Quantos chamados foram abertos no dia 01/04/2023?

In [5]:
total_chamados_soma = df_base_1['total_chamados'].sum()

print(f'R: O total de chamados abertos no dia 01/04/2023 é de {total_chamados_soma} chamados.')

R: O total de chamados abertos no dia 01/04/2023 é de 1903 chamados.

### 2. Qual é o tipo de chamado que teve mais chamados abertos no dia 01/04/2023?

In [6]:
chamados_por_dia = operacao_agrupada_chamados(df_base_1, ['tipo'])

print(f'R: O tipo de chamado com maior quantidade de chamados abertos no dia 01/04/2023 é {chamados_por_dia.iloc[0,0]} com {chamados_por_dia.iloc[0,1]} chamados.')

R: O tipo de chamado com maior quantidade de chamados abertos no dia 01/04/2023 é Estacionamento irregular com 373 chamados.

### 3. Quais os nomes dos bairros que mais tiveram chamados abertos nesse dia?

In [7]:
df_base_bairros = df_base_1.merge(df_bairros, on='id_bairro', how='left')

chamados_por_bairros = operacao_agrupada_chamados(df_base_bairros, ['nome_bairro'])

top_n = 3

print(f'O top {top_n} bairros com maior quantidade de chamados abertos no dia 01/04/2023 foram:')
for i in range(top_n):
    print(f'{i+1} - {chamados_por_bairros.iloc[i,0]} com {chamados_por_bairros.iloc[i,1]} chamados.')

O top 3 bairros com maior quantidade de chamados abertos no dia 01/04/2023 foram:
1 - Campo Grande com 124 chamados.
2 - Tijuca com 96 chamados.
3 - Barra da Tijuca com 60 chamados.

### 4. Qual o nome da subprefeitura com mais chamados abertos nesse dia?

In [8]:
df_base_bairros = df_base_1.merge(df_bairros, on='id_bairro', how='left')

chamados_por_subprefeitura = operacao_agrupada_chamados(df_base_bairros, ['subprefeitura'])

print(f'A subprefeitura com maior quantidade de chamados abertos no dia 01/04/2023 foi a {chamados_por_subprefeitura.iloc[0,0]} com {chamados_por_subprefeitura.iloc[0,1]} chamados.')

A subprefeitura com maior quantidade de chamados abertos no dia 01/04/2023 foi a Zona Norte com 534 chamados.

### 5. Existe algum chamado aberto nesse dia que não foi associado a um bairro ou subprefeitura na tabela de bairros? Se sim, por que isso acontece?

In [9]:
df_bairro_nulo = df_base_1.loc[df_base_1['id_bairro'].isnull()]
df_bairro_nulo_por_tipo = operacao_agrupada_chamados(df_bairro_nulo,
                                                 ['tipo'])

df_bairro_nulo_por_tipo.head(10)

                                      tipo  total_chamados
33                                  Ônibus              50
1                   Atendimento ao cidadão              18
4                 Clínicas da Família (CF)              13
30  Sistema Nacional de Regulação (SISREG)               6
21                          Ouvidoria SMTR               5
14                      Iluminação Pública               3
13                          Hospitais (HM)               3
8                       Diversos - Comlurb               3
22                    Postos de Saúde (PS)               2
6                      Conservação de vias               2

R: Sim, existiram chamados que não foram associados à nenhum id_bairro e, portanto, à nenhuma subprefeitura. Avaliando os principais tipos de chamados que possuem esta característica, é possível verificar que essas questões não dependem do espaço geográfico do cidadão que as origina. Por exemplo, chamados em relação aos ônibus não necessariamente serão questões de um só bairro, visto que existem ônibus (a grande maioria) cujo trajeto perpassa múltiplos bairros. Atendimento ao cidadão é outro caso, visto que dúvidas, sugestões, aviso de erros ou problemas com serviços digitais da prefeitura podem não ser ligados ao local em que o cidadão está fazendo o chamado. Ou seja, a maior parte dessas questões não são dependentes diretamente da localização.

## Respostas às perguntas 6-10

In [10]:
# Preparando os data frames básicos para as questões 6-10

sql_22_24 ="""
SELECT COUNT(id_chamado) AS total_chamados,
    DATE(data_inicio) AS data_abertura,
    id_subtipo,
    subtipo
FROM `datario.adm_central_atendimento_1746.chamado`
WHERE DATE(data_inicio) BETWEEN '2022-01-01' AND '2024-12-31'
GROUP BY data_abertura, id_subtipo, subtipo
"""

sql_eventos = """
SELECT *
FROM `datario.turismo_fluxo_visitantes.rede_hoteleira_ocupacao_eventos`
"""

df_22_24 = bd.read_sql(sql_22_24, billing_project_id=bill_id)
df_eventos = bd.read_sql(sql_eventos, billing_project_id=bill_id)

Downloading: 100%|██████████|
Downloading: 100%|██████████|

In [11]:
# Precisamos limpar a base de dados de eventos para as próximas questões
df_eventos_clean = (
    # Filtrando apenas eventos com data_inicial e data_final válidas e selecionando as colunas de interesse
    df_eventos.loc[
        df_eventos['data_inicial'].notnull() & df_eventos['data_final'].notnull(),
        ['evento', 'data_inicial', 'data_final']
    ]
    .assign(
        # Convertendo as datas ao formato datetime
        data_inicial =  lambda x: pd.to_datetime(x['data_inicial']),
        data_final   =    lambda x: pd.to_datetime(x['data_final']),
        # Expandindo as datas dos eventos
        data_evento  =   lambda x: x.apply(
            lambda y: pd.date_range(y['data_inicial'], y['data_final']), axis=1
            )
        )
    .explode('data_evento')
    .reset_index(drop=True)
)
df_eventos_clean

         evento data_inicial data_final data_evento
0      Carnaval   2024-02-10 2024-02-14  2024-02-10
1      Carnaval   2024-02-10 2024-02-14  2024-02-11
2      Carnaval   2024-02-10 2024-02-14  2024-02-12
3      Carnaval   2024-02-10 2024-02-14  2024-02-13
4      Carnaval   2024-02-10 2024-02-14  2024-02-14
5      Carnaval   2023-02-18 2023-02-21  2023-02-18
6      Carnaval   2023-02-18 2023-02-21  2023-02-19
7      Carnaval   2023-02-18 2023-02-21  2023-02-20
8      Carnaval   2023-02-18 2023-02-21  2023-02-21
9   Rock in Rio   2022-09-08 2022-09-11  2022-09-08
10  Rock in Rio   2022-09-08 2022-09-11  2022-09-09
11  Rock in Rio   2022-09-08 2022-09-11  2022-09-10
12  Rock in Rio   2022-09-08 2022-09-11  2022-09-11
13  Rock in Rio   2022-09-02 2022-09-04  2022-09-02
14  Rock in Rio   2022-09-02 2022-09-04  2022-09-03
15  Rock in Rio   2022-09-02 2022-09-04  2022-09-04
16    Réveillon   2022-12-30 2023-01-01  2022-12-30
17    Réveillon   2022-12-30 2023-01-01  2022-12-31
18    Réveillon   2022-12-30 2023-01-01  2023-01-01
19    Réveillon   2023-12-30 2024-01-01  2023-12-30
20    Réveillon   2023-12-30 2024-01-01  2023-12-31
21    Réveillon   2023-12-30 2024-01-01  2024-01-01

In [12]:
# Precisamos, agora, usar o read_sql do bd para pegar os chamados abertos nos dias de evento
lista_datas = df_eventos_clean['data_evento'].dt.date.apply(lambda x: x.strftime('%Y-%m-%d')).to_list()

# String com o conjunto de datas do df_eventos_clean
str_datas = '(' + ', '.join(f"'{data}'" for data in lista_datas) + ')'

query_evento_chamados = f"""
SELECT COUNT(id_chamado) AS total_chamados,
    DATE(data_inicio) AS data_abertura,
    id_subtipo,
    subtipo
FROM `datario.adm_central_atendimento_1746.chamado`
WHERE DATE(data_inicio) IN {str_datas}
GROUP BY data_abertura, id_subtipo, subtipo 
"""

# novo df com os chamados dos eventos
df_eventos_chamados = bd.read_sql(query_evento_chamados, billing_project_id=bill_id)
df_eventos_chamados = (
    df_eventos_chamados.assign(
        data_abertura = lambda x: pd.to_datetime(x['data_abertura'])
    ).merge(
        df_eventos_clean,
        left_on='data_abertura',
        right_on='data_evento',
        how='left'
    )
)

Downloading: 100%|██████████|

### 6. Quantos chamados com o subtipo "Perturbação do sossego" foram abertos desde 01/01/2022 até 31/12/2023 (incluindo extremidades)?

In [13]:
# filtrando os subtipos que contém 'sossego'
df_22_24_sossego = df_22_24.loc[df_22_24['id_subtipo'] == '5071']

subtipo_perturbacao_soma = operacao_agrupada_chamados(df_22_24_sossego, ['subtipo'])

print('Considerando o id 5071 referente ao subtipo, foram encontrados mais de um, a saber:')
for i in range(subtipo_perturbacao_soma.shape[0]):
    print(f'{subtipo_perturbacao_soma.iloc[i,0]} com {subtipo_perturbacao_soma.iloc[i,1]} chamados.')
print(f'\nA soma dos chamados é de {subtipo_perturbacao_soma["total_chamados"].sum()} chamados.')

Considerando o id 5071 referente ao subtipo, foram encontrados mais de um, a saber:
Fiscalização de perturbação do sossego com 56775 chamados.
Perturbação do sossego com 10 chamados.

A soma dos chamados é de 56785 chamados.

### 7. Selecione os chamados com esse subtipo que foram abertos durante os eventos contidos na tabela de eventos (Reveillon, Carnaval e Rock in Rio).

In [14]:
df_eventos_chamados = df_eventos_chamados.loc[df_eventos_chamados['id_subtipo'] == '5071']

print(df_eventos_chamados)

      total_chamados data_abertura id_subtipo  \
142               77    2023-02-18       5071
353               38    2023-02-20       5071
653              164    2022-09-04       5071
758               91    2023-02-19       5071
949               37    2022-12-31       5071
1259             142    2022-09-09       5071
1640              91    2022-09-08       5071
1908              51    2022-12-30       5071
2248             106    2022-09-02       5071
2346              46    2023-02-21       5071
2854             180    2022-09-11       5071
2859             126    2022-09-03       5071
2955              59    2023-01-01       5071
3215             137    2022-09-10       5071

                                     subtipo       evento data_inicial  \
142   Fiscalização de perturbação do sossego     Carnaval   2023-02-18
353   Fiscalização de perturbação do sossego     Carnaval   2023-02-18
653   Fiscalização de perturbação do sossego  Rock in Rio   2022-09-02
758   Fiscalização de perturbação do sossego     Carnaval   2023-02-18
949   Fiscalização de perturbação do sossego    Réveillon   2022-12-30
1259  Fiscalização de perturbação do sossego  Rock in Rio   2022-09-08
1640  Fiscalização de perturbação do sossego  Rock in Rio   2022-09-08
1908  Fiscalização de perturbação do sossego    Réveillon   2022-12-30
2248  Fiscalização de perturbação do sossego  Rock in Rio   2022-09-02
2346  Fiscalização de perturbação do sossego     Carnaval   2023-02-18
2854  Fiscalização de perturbação do sossego  Rock in Rio   2022-09-08
2859  Fiscalização de perturbação do sossego  Rock in Rio   2022-09-02
2955  Fiscalização de perturbação do sossego    Réveillon   2022-12-30
3215  Fiscalização de perturbação do sossego  Rock in Rio   2022-09-08

     data_final data_evento
142  2023-02-21  2023-02-18
353  2023-02-21  2023-02-20
653  2022-09-04  2022-09-04
758  2023-02-21  2023-02-19
949  2023-01-01  2022-12-31
1259 2022-09-11  2022-09-09
1640 2022-09-11  2022-09-08
1908 2023-01-01  2022-12-30
2248 2022-09-04  2022-09-02
2346 2023-02-21  2023-02-21
2854 2022-09-11  2022-09-11
2859 2022-09-04  2022-09-03
2955 2023-01-01  2023-01-01
3215 2022-09-11  2022-09-10

### 8. Quantos chamados desse subtipo foram abertos em cada evento ?

In [15]:
total_chamados_subtipo = operacao_agrupada_chamados(df_eventos_chamados, ['evento'])

print(f'Número de chamados abertos com id de subtipo 5071: ')
for i in range(total_chamados_subtipo.shape[0]):
    print(f'{total_chamados_subtipo.iloc[i,0]} com {total_chamados_subtipo.iloc[i,1]} chamados.')

Número de chamados abertos com id de subtipo 5071:
Rock in Rio com 946 chamados.
Carnaval com 252 chamados.
Réveillon com 147 chamados.

### 9. Qual evento teve a maior média diária de chamados abertos desse subtipo ?

In [16]:
df_eventos_media = operacao_agrupada_chamados(df_eventos_chamados, ['evento'], 'mean')

print(f'O evento com maior média de chamados abertos desses subtipos foi {df_eventos_media.iloc[0,0]} com cerca de {df_eventos_media.iloc[0,1]:.0f} chamados.')

O evento com maior média de chamados abertos desses subtipos foi Rock in Rio com cerca de 135 chamados.

### 10. Compare as médias diárias de chamados abertos desse subtipo durante os eventos específicos (Reveillon, Carnaval e Rock in Rio) e a média diária de chamados abertos desse subtipo consideranto todo o período de 01/01/2022 até 31/12/2024.

In [17]:
df_eventos_media = operacao_agrupada_chamados(df_eventos_chamados, ['evento'], 'mean')

df_22_24_sossego = df_22_24.loc[df_22_24['id_subtipo'] == '5071']
df_22_24_sossego = operacao_agrupada_chamados(df_22_24_sossego, ['data_abertura'])

media_22_24 = df_22_24_sossego['total_chamados'].mean()

print(f'A média de chamados abertos desse subtipo entre 2022 e 2024 foi de {media_22_24:.0f} chamados.')
print(f'A média de chamados abertos desse subtipo durante os eventos foram:')
for i in range(df_eventos_media.shape[0]):
    print(f'{df_eventos_media.iloc[i,0]} com {df_eventos_media.iloc[i,1]:.0f} chamados.')

A média de chamados abertos desse subtipo entre 2022 e 2024 foi de 69 chamados.
A média de chamados abertos desse subtipo durante os eventos foram:
Rock in Rio com 135 chamados.
Carnaval com 63 chamados.
Réveillon com 49 chamados.

R: Entre 2022 e 2024, os cariocas abriram cerca de 69 chamadas por dia em média, sendo maior que o número de chamadas médias do carnaval e do Réveillon. Por outro lado, o Rock in Rio superou o número de reclamações média diárias, sendo quase o dobro da média total do período de 2022-2024.